.simple {
    padding-top: 40px;
    padding-bottom: 40px;
}
.simple__list {
    column-gap:32px ;  
}

.simple__item {
    max-width: 348px;
    width: 100%;
    padding: 16px;
    border: 1px solid transparent;
}
.simple__item:hover {
    border: 1px solid var(--main-link-color);
    border-radius: 17px;
}
.simple__info {
    max-width: 260px;
}
.simple__title {
    font-weight: var(--main-subtitle-weight);
    font-size: 36px;
    line-height: 34px;
    color: var(--main-section-title);
}
.simple__text {
    font-weight: var(--main-smoll-weight);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var( --main-section-text);
}
.simple__subinfo {
    margin-bottom: 40px;
}
.simple__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main-section-title);
}
.simple__bold {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    color: var(--main-section-title);
}
.simple__smoll {
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.02em;
    color: var(--main-section-text);
}
.simple__sublist {
    margin-left: 30px;
}
.simple__subitem {
    position: relative;
}

.simple__subitem::before {
    position: absolute;
    top: -3px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url("../../images/Check.svg");
    background-repeat: no-repeat;
    content: "";
}
.dark .simple__subitem::before  {
    top: 5px;
    left: -30px;
    background-image: url("../../images/plasdark.svg");
}
.simple__subtext {
    font-weight: var(--main-smoll-weight);
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.02em;
    color: var(--main-section-text);
}
.simple__link {
    max-width: 330px;
    width: 100%;
    padding: 16px 80px;
    font-weight: var(--main-smoll-weight);
    font-size: 15.6098px;
    line-height: 150%;
    color: var(--main-link-color);
    border: 2px solid var(--main-link-color);
    border-radius: 32px;
}
.simple__link:hover {
    color: var(--main-card-bg);
    background-color:var(--main-link-color);
}
@media only screen and (min-width:767px) {
    .simple__info  {
        max-width: 505px;
    }
    .simple__title {
        font-size: 48px;
        line-height: 120%;
    }
    .simple__text {
        font-size: 16px;
        line-height: 155%;
    }
}
@media only screen and (min-width:990px) {
    .simple {
        padding: 100px 0;
    }
    .simple__info {
        max-width: 605px;
        margin-bottom: 80px;
    }
    .simple__item {
        max-width: 405px;
        width: 100%;
        padding: 31px;
    }
}